<ul>
  <% @questions.each do |question| %>
    <li>
      <div class="show-question">
        <span class="special-question">"<%= question.body %>"</span> -<%= link_to "asked #{question.author}", question_path(question) %> on <%= local_time(question.created_at) %>
      </div>
    </li>
  <% end %>
</ul>
