<div class="show-question">
  <span class="special-question">"<%= @question.body %>"</span> asked <%= link_to @question.author, question_path(@question) %> on <%= local_time(@question.created_at) %>
</div>
