<%= link_to "Ask Fortuna a question.", new_question_path, class: "front" %>

<% @questions.each do |question| %>
  <div class="show-question">
    <span class="special-question">"<%= question.body %>"</span> asked <%= link_to question.author, question_path(question) %> on <%= question.created_at %>.
  </div>
<% end %>
