<%= link_to "Ask Fortuna a question.", new_question_path, class: "front" %>

<h3>All questions &amp; fortunes:</h3>

<ul>
  <% @questions.each do |question| %>
    <li>
      <div class="show-question">
        <span class="special-question">"<%= question.body %>"</span> asked <%= link_to question.author, question_path(question) %> on <%= local_time(question.created_at) %>
      </div>
    </li>
  <% end %>
</ul>
