@import "bootstrap-sprockets";
@import "bootstrap";

.top {
  background-image: url(image_path('moon.png'));
  background-repeat: no-repeat;
  background-size: 6em;
  background-position: 10%;
  display: block;
}

h1 a {
  font-size: 2em;
  color: #000000;
}

h1 a:hover {
  color: #000000;
}

h2 {
  font-size: 1.7em;
  color: #98ddf2;
  font-family: "Helvetica Neue";
}

.front {
  font-size: 3em;
  color: #98ddf2;
}

a:hover.front, a:hover {
  color: #81f6de;
  text-decoration: none;
}

.show-question {
  font-size: 1.5em;
}

.special-question {
  font-size: 2em;
  color: #575a5a;
}

a {
  color: #98ddf2;
}
