@import "bootstrap-sprockets";
@import "bootstrap";

.top {
  // moon image by Jalan's Place on Flickr: https://flic.kr/p/p9EgS4
  background-image: url(image_path('moon.png'));
  background-repeat: no-repeat;
  background-size: 6em;
  background-position: 10%;
  display: block;
}

h1 a {
  font-size: 2em;
  color: #000000;
}

h1 a:hover {
  color: #000000;
}

h2, .front, a {
  color: #0090b4;

}
h2 {
  font-size: 1.7em;
}

.front {
  font-size: 3em;
}

a:hover.front, a:hover {
  color: #4c4c4c;
  text-decoration: none;
}

.show-question {
  font-size: 1.5em;
}

.special-question {
  font-size: 2em;
}

.ask {
  padding-bottom: 1em;
}

.fortuna-answer {
  font-size:2em;
  background-color: #fdf59c;
}

.center {
  text-align: center;
  font-size: 1.2em;
}
